@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-w: 1200px;
}

@layer base {
  html,
  body {
    @apply h-full scroll-smooth bg-white text-slate-900 antialiased;
  }

  body {
    @apply overflow-x-hidden;
  }

  a {
    @apply transition-colors;
  }
}

@layer components {
  .container {
    max-width: var(--max-w);
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .section {
    @apply py-16;
  }

  .section-sm {
    @apply py-10;
  }
}
